---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import '../../styles/blog.css';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article class="blog-content">
    <img 
      src={post.data.image}
      alt={post.data.title}
      class="blog-header-image"
    />
    <h1>{post.data.title}</h1>
    <div class="blog-meta">
      <time datetime={post.data.pubDate.toISOString()}>
        {post.data.pubDate.toLocaleDateString()}
      </time>
      <span>•</span>
      <span>{post.data.author}</span>
    </div>
    <Content />
  </article>
</Layout>